@page "/blog/{urlHandle}"
@model Web.Pages.Blog.DetailsModel
@{
    ViewData["Title"] = Model.BlogPost.PageTitle;
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            @if (Model.BlogPost != null)
            {
                <h1 class="mb-3">@Model.BlogPost.Heading</h1>

                <div class="d-flex justify-content-between">
                    <span class="text-secondary">@Model.BlogPost.Author</span>
                    <span class="text-secondary">@Model.BlogPost.PublishedDate.ToShortDateString()</span>
                </div>

                <div class="mb-3">
                    @if (Model.BlogPost.Tags != null && Model.BlogPost.Tags.Any())
                    {
                        foreach (var tag in Model.BlogPost.Tags)
                        {
                            <a href="/@tag.Name.ToLower()"><span class="badge bg-dark">@tag.Name</span></a>
                        }
                    }
                </div>

                <img src="@Model.BlogPost.FeaturedImageUrl" class="d-block img-fluid md-3" alt="@Model.BlogPost.Heading" />

                <div class="mb-3 blog-details">
                    @Html.Raw(Model.BlogPost.Content)
                </div>
            }
        </div>
    </div>
</div>